<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>


<canvas id="myChart" style="max-width: 100%;"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
<script>
fetch('/get_chart_data')
  .then(res => res.json())
  .then(data => {
    new Chart(document.getElementById('myChart'), {
      type: 'line',
      data: {
        labels: data.dates,
        datasets: [
          {
            label: 'Predicted Value',
            data: data.values,
            borderColor: 'blue',
            fill: false,
            pointRadius: 0
          },
          {
            label: `Initial $${data.purchase_price.toFixed(2)} Principal`,
            data: data.dates.map(() => data.purchase_price),
            borderColor: 'red',
            borderDash: [5, 5],
            pointRadius: 0
          }
        ]
      },
      options: {
        responsive: true,
        plugins: { title: { display: true, text: 'Apple Stock Closing Prices' } },
        scales: {
        x: {
            ticks: { display: false }, 
            grid: { display: true }   
          },
        y: {
            grid: { display: true } 

        }
        }
        }    
    });
  });
</script>

</body>
</html>