<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<form action="/submit-form" method="POST">
<select name="phones" required>
    <option value="" selected disabled hidden>--Select an option--</option>
    <optgroup label="Pro Max">
        <option value="1199">iPhone 17 Pro Max</option>
        <option value="1199">iPhone 16 Pro Max</option>
        <option value="1199">iPhone 15 Pro Max</option>
        <option value="1099">iPhone 14 Pro Max</option>
        <option value="1099">iPhone 13 Pro Max</option>
    </optgroup>
    <optgroup label="Pro">
        <option value="999">iPhone 17 Pro</option>
        <option value="999">iPhone 16 Pro</option>
        <option value="999">iPhone 15 Pro</option>
        <option value="999">iPhone 14 Pro</option>
        <option value="999">iPhone 13 Pro</option>
    </optgroup>
    <optgroup label="Normal">
        <option value="799">iPhone 17</option>
        <option value="799">iPhone 16</option>
        <option value="799">iPhone 15</option>
        <option value="799">iPhone 14</option>
        <option value="799">iPhone 13</option>
    </optgroup>
</select>
<input type="date" name="date">
<input type="submit">
</form>


</body>
<footer>
    <a href="graph_page.html">Graph</a>
</footer>
</html>